{% extends 'base.html.twig' %}

{% block css %}
    <link href="css/Tournaments/joinTournament.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="teams">
        {% for key, team in teams %}
            <article class="team{{ key }}">
                <p>Team {{ key }}</p>
                <div>
                    <p>Attaquant:</p>
                {% if (team.attaquant == null) %}
                    <button>non</button>
                {% else %}
                    <p>{{ team.attaquant }}</p>
                {% endif %}
                </div>
                <div>
                    <p>Defenseur:</p>
                    {% if (team.defenseur == null) %}
                        <button>non</button>
                    {% else %}
                        <p>{{ team.defenseur }}</p>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}