main.content {
    display: flex;
    justify-content: space-between;
}

a {
    color: black;
    text-decoration: none;
}

.tournamentList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 46%;
    height: 85vh;
    overflow: scroll;
}

.middleBar {
    background-color: black;
    width: 1px;
    height: 85vh;
}

.tournamentList a {
    background-color: #8b8b8b;
    width: 100%;
}

.tournamentList a:hover {
    background-color: #b3b3b3;
}

.tournamentList .name {
    text-align: center;
    word-break: break-word;
}

.tournamentList .description {
    word-break: break-word;
}

.tournamentList p {
    padding: 10px;
    margin: 0;
}

.tournamentList h2 {
    margin-bottom: 0;
}

.name {
    font-size: 20px;
}