main.content {
    display: flex;
    justify-content: space-between;
}

a {
    color: black;
    text-decoration: none;
}

.tournamentList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

div.tournament {
    width: 100%;
    border: 1px solid black;
    overflow: scroll;
}

.left, .right {
    width: 46%;
}

.left .tournamentList {
    height: 600px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right .tournament {
    height: 46%;
}

h2 {
    padding: 20px;
    border-bottom: 1px solid black;
    margin: 0;
}

.middleBar {
    background-color: black;
    width: 1px;
    height: 670px;
}

.tournamentList  a {
    background-color: #8b8b8b;
    width: 100%;
}

.tournamentList a:hover {
    background-color: #b3b3b3;
}

.tournamentList .name {
    text-align: center;
    word-break: break-word;
}

.tournamentList .description {
    word-break: break-word;
}

.tournamentList p {
    padding: 10px;
    margin: 0;
}

.tournamentList h2 {
    margin-bottom: 0;
}

.name {
    font-size: 20px;
}