.matches {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.matches article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    width: 250px;
    background-color: #8b8b8b;
    border-radius: 5px;
}

.matches > article:hover {
    background-color: #b3b3b3;
}

a {
    color: black;
    text-decoration: none;
}

hr {
    width: 90%;
    color: white;
}


.matches article > p {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.matches article > div {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}

.matches article > div button {
    border: solid 2px black;
    padding: 5px 20px;
}